@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 32px;
  font-family: "Nova Square", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  width: 100%;
  height: 100dvh;
  margin: 0px;
  overflow: hidden;
}

#header-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
  margin-top: 1dvh;
}

#imagenHeader {
  width: 70%;
  object-fit: fill;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  background-color: white;
  padding-top: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 1.2rem;
  margin-block: 0px;
  margin-inline: 0px;
  margin-bottom: 0.3rem;
}

.contenedor-select {
  grid-column: 1/3;
  display: flex;
  font-size: 0.6rem;
  justify-content: center;
  border-bottom: 0.1rem solid black;
  margin-bottom: 0.3rem;
}

.contenedor-campo {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  justify-content: center;
}

select {
  font-size: 0.6rem;
  padding: 0px;
  letter-spacing: none;
  word-spacing: none;
  display: block;
}
option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px;
  white-space: nowrap;
}

.input-text {
  font-size: 0.5rem;
  margin: 0.2rem;
}

.contenedor-imagen {
  grid-row: 2/5;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-left: 0.3rem;
}

.add-imagen {
  height: 100%;
  width: 100%;
  border-style: dashed;
}

#image {
  display: none;
}

.contenedor-radio {
  display: flex;
  justify-content: center;
}

button {
  margin: 0.4rem;
  grid-column: 1/3;
}
