@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nova+Square&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("/Media/key_rain_purple.jpg");
}

html {
  font-size: 32px;
  font-family: "Nova Square", sans-serif;
}

#imagenHeader {
  height: 9rem;
  width: 65rem;
  object-fit: none;
}
.prueba {
  width: 100px;
  height: 100px;
  background-color: red;
}
dialog::backdrop {
  backdrop-filter: blur(4px);
}
#settingsItem {
  display: none;
}

#headerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#contenedorLogin {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
  height: 13.625rem;
  width: 15.625rem;
  padding: 1rem;
  background: linear-gradient(
    180deg,
    rgba(69, 21, 140, 1) -34%,
    rgba(255, 255, 255, 1) 139%
  );
  border-radius: 0.4rem;
  z-index: 9999999;
}

.login-input-container {
  font-family: "Fredoka", sans-serif;
  display: flex;
  flex-direction: column;
}

.input-text {
  font-family: "Fredoka", sans-serif;
  font-size: 1rem;
  width: 9rem;
}

#closeLogin {
  position: absolute;
  cursor: pointer;
  top: 0.5em;
  left: 0.625em;
}

#backArrowImg {
  width: 1.5rem;
}

.contenedor-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  width: 100%;
}

.contenedor-button button {
  height: 1.5rem;
  width: 40%;
  border-radius: 0.4rem;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  background: rgb(153, 126, 192);
  background: radial-gradient(
    circle,
    rgba(153, 126, 192, 1) 0%,
    rgba(69, 21, 140, 1) 100%
  );
  padding-block: 0px;
  padding-inline: 0px;
  border: none;
}

.contenedor-button button p {
  background-color: rgb(5, 6, 45);
  border-radius: 0.4rem;
  width: 96.5%;
  height: 90%;
  transition: background-color 0.3s;
  margin-block: 0px;
  margin-inline: 0px;
  color: white;
  font-family: "Nova Square", sans-serif;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-button button:hover p,
.contenedor-button button:active p {
  background-color: transparent;
}

.contenedor-general {
  position: relative;
  display: flex;
  margin-top: 8px;
}

.contenedor-menu-horizontal {
  position: absolute;
  z-index: 1000;
}

.contenedor-menu-horizontal nav .menu-horizontal {
  display: flex;
  list-style: none;
  padding: 0;
  margin: auto;
}

.contenedor-menu-horizontal nav .menu-horizontal li {
  height: 3rem;
  width: 3rem;
  margin-left: 0.625rem;
  margin-bottom: 0.25rem;
  background-color: blueviolet;
  border-radius: 50%;
  overflow: hidden;
  border: 0.1rem solid #26d9d9;
  transition: border 0.3s ease;
}
.contenedor-menu-horizontal nav .menu-horizontal li a,
.contenedor-menu-horizontal nav .menu-horizontal li button {
  display: flex;
  width: 100%;
  height: 100%;
}
.contenedor-menu-horizontal nav .menu-horizontal li img {
  height: 75%;
  width: 75%;
  object-fit: cover;
  margin: auto;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg)
    brightness(118%) contrast(118%);
}

.rotate {
  transition: transform 6.5s ease-out;
}

.rotate:hover {
  cursor: pointer;
  transform: rotateZ(900deg);
}

.icon-login {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.icon-login img {
  z-index: 2345;
}

.icon-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #26d9d9; /* Cambia los colores según tu preferencia */
  transition: left 0.3s ease;
}

.contenedor-menu-horizontal nav .menu-horizontal li:has(img:hover) {
  border: 0.1rem solid white;
}

.icon-login:hover::before {
  left: 0;
}

.contenedor-menu-lateral {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.contenedor-menu-lateral .menu-lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  width: 11.5rem;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(69, 21, 140, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 20px;
}

.contenedor-menu-lateral .menu-lateral hr {
  margin-inline: 0;
  margin-block: 0;
  margin: 1.25rem;
  unicode-bidi: normal;
  border: none;
  height: 0.5rem;
  background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 0% / 0%),
    hsl(0deg 0% 0% / 0%) 33.33%,
    hsl(0, 0%, 100%) 33.33%,
    hsl(0, 0%, 100%) 66.67%,
    hsla(0, 0%, 100%, 0) 66.67%,
    hsla(0, 0%, 5%, 0) 100%
  );

  background-size: 0.5rem 100%;
  width: 80%;
}

.contenedor-menu-lateral .menu-lateral nav {
  width: 80%;
}

.contenedor-menu-lateral .menu-lateral nav ul,
.burger-button nav ul {
  list-style: none;
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
  padding: 0;
  padding-inline: 0;
  height: 12.5rem;
  width: 9.21875rem;
  z-index: -1;
}
.contenedor-menu-lateral .menu-lateral nav ul li,
.burger-button nav ul li {
  list-style: none;
  text-align: center;
  width: 100%;
  margin-bottom: 0.375rem;
}
.contenedor-menu-lateral .menu-lateral nav ul li .button-text,
.burger-button nav ul li .button-text {
  color: white;
  transition: 0.5s;
}
.contenedor-menu-lateral .menu-lateral .contenedor-enlace {
  height: 3.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 20px;
  border: blueviolet 6px outset;
  z-index: -1;
}

.contenedor-menu-lateral .menu-lateral .contenedor-enlace:hover {
  transform: scale(1.2);
  border-radius: 20px;
  box-shadow: 5px 8px 10px black;
  z-index: 34252345;
  border: white 6px outset;
  background-color: blueviolet;
}

.sub-button-container {
  display: none;
}

.sub-button-container .sub-button-text {
  font-size: 0.5rem;
  color: black;
}

.productos-button-contanier:hover {
  width: 100%;
  .sub-button-container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    height: 1.40625rem;
    width: 100%;
    button {
      height: 100%;
      border-radius: 0.625rem;
      box-shadow: 0.09375rem 0.1875rem 0.3125rem black;
      z-index: 34252345;
      border: #26d9d9 0.1875rem outset;
      background-color: white;
      transition: 0.5s;
      p {
        color: black;
      }
    }
    button:hover {
      transform: scale(1.2);
    }
  }
  .button-text {
    font-size: 0px;
    height: 0px;
    width: 0px;
  }
}

button {
  all: unset;
}

.enlace-side-bar {
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  display: block;
}

.enlace-side-bar p {
  margin-block: 0px;
  margin-inline: 0px;
  text-align: center;
  width: 100%;
}

#imagenSideBar {
  margin: 0.3125em;
  width: 9em;
  border-radius: 48%;
  border: white 0.1875em outset;
  height: auto;
  box-shadow: 0.34375em 0.3125em 0.3125em 0px rgba(0, 0, 0, 0.75);
  object-fit: cover;
}

#imagenLogin {
  margin: 0.3125em;
  margin-bottom: 0.7em;
  width: 5em;
  border-radius: 48%;
  border: white 0.125em outset;
  height: auto;
  box-shadow: 0.21875em 0.28125em 0.3125em 0px rgba(0, 0, 0, 0.75);
  object-fit: cover;
}

.iconos-side-bar {
  margin: 0.3125em;
  width: 2.8em;
  height: 3.7em;
  object-fit: cover;
}

/* Productos */
main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 0.25em;
  overflow: hidden;
}

output {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#loader {
  position: absolute;
  top: 50%;
  width: 4px;
  color: #26d9d9;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px, 19px 0 0 5px,
    38px 0 0 5px, 57px 0 0 5px, 19px 19px 0 0px, 38px 19px 0 0px,
    57px 19px 0 0px;
  transform: translateX(-38px);
  animation: l26 2s infinite linear;
  visibility: hidden;
}

#loader.cargando {
  visibility: visible;
}
@keyframes l26 {
  12.5% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
      19px 0 0 5px, 38px 0 0 0px, 57px 0 0 5px, 19px 19px 0 0px, 38px 19px 0 0px,
      57px 19px 0 0px;
  }
  25% {
    box-shadow: 19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px, 19px 19px 0 0px, 38px 19px 0 5px,
      57px 19px 0 0px;
  }
  50% {
    box-shadow: 19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px, 19px 19px 0 0px, 38px 19px 0 0px,
      57px 19px 0 5px;
  }
  62.5% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
      19px 0 0 5px, 38px 0 0 0px, 57px 0 0 0px, 19px 19px 0 0px, 38px 19px 0 5px,
      57px 19px 0 5px;
  }
  75% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 5px, 19px 19px 0 0px, 38px 19px 0 0px,
      57px 19px 0 5px;
  }
  87.5% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 5px, 57px 0 0 0px, 19px 19px 0 5px, 38px 19px 0 0px,
      57px 19px 0 0px;
  }
}

.burger-button {
  display: none;
  overflow: hidden;
}

.burger-button input {
  display: none;
}

.burger-button nav {
  width: 100%;
  height: 100%;
}
.burger-button .btn_span {
  position: absolute;
  top: 0.37rem;
  width: 2.7rem;
  height: 0.3rem;
  background: blueviolet;
  transition: all 0.3s ease;
  border-radius: 1.481rem;
}

.btn_menu {
  position: fixed;
  padding: 0.06rem;
  top: 3.05rem;
  left: 0.5rem;
  z-index: 3245235;
  width: 3.12rem;
  height: 3rem;
  border: 0.148rem solid black;
  border-radius: 0.074rem;
  background-color: black;
  cursor: pointer;
}

.burger-button input:checked ~ .btn_menu {
  background-color: rgba(2, 0, 36, 1);
  border-bottom: 0px solid black;
}

.burger-button input:checked ~ .btn_menu .btn_span {
  background: blueviolet;
}

.burger-button .cont-span {
  display: flex;
}

.burger-button .btn_span:nth-child(2) {
  top: 1.259rem;
}
.burger-button .btn_span:nth-child(3) {
  top: 2.074rem;
}

.burger-button input:checked ~ .btn_menu #btn_span_1 {
  top: 1.259rem;
  transform: rotate(45deg);
}
.burger-button input:checked ~ .btn_menu #btn_span_2 {
  opacity: 0;
}
.burger-button input:checked ~ .btn_menu #btn_span_3 {
  top: 1.259rem;
  transform: rotate(-45deg);
}

.burger-button ul {
  display: none;
}

.burger-button input:checked ~ ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(69, 21, 140, 1) 28%,
    rgba(255, 255, 255, 1) 100%
  );
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border: 0.148rem solid black;
}
.burger-button li {
  color: white;
  border: blueviolet 0.296rem outset;
  border-radius: 1.481rem;
  transition: border 0.4s ease;
}

.burger-button li:hover {
  color: white;
  border: white 0.296rem outset;
  background-color: blueviolet;
}
.burger-button li p {
  color: white;
}
.burger-button li a {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 10rem;
  transition: backdrop-filter 0.5s ease-out;
  font-size: 0.7rem;
}

.footer-content {
  margin: 1em;
}
.rss-content {
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 0.4rem;
}
.rss-icon {
  fill: #26d9d9;
  margin: 0.2rem;
}
.rss-icon:hover {
  border-radius: 100%;
  cursor: pointer;
  fill: purple;
  transform: scale(1.25);
  background-color: white;
  transition: background-color 0.5s, transform 0.5s ease-out;
}

footer:has(.rss-icon:hover) {
  backdrop-filter: blur(2.5px);
}

.info-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid black;
  background-color: white;
  align-items: center;
  justify-items: center;
  padding: 0.5em;
  height: 7em;
  font-size: 1em;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  background-color: rgb(227 227 227);
}

.info-content p {
  margin-block: 0px;
  margin-inline: 0px;
}

.info-content #developer {
  grid-column: 1/3;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
iframe {
  height: 100dvh;
  width: 100%;
}

@media screen and (max-width: 1306px) {
  html {
    font-size: 16px;
  }
  body {
    margin: 0px;
  }
  #imagenHeader {
    display: none;
  }
  #contenedorLogin {
    top: 50dvh;
  }
  #loader {
    top: 50dvh;
  }
  .menu-horizontal {
    flex-direction: column;
  }

  .contenedor-menu-horizontal nav .menu-horizontal li {
    margin-bottom: 0.7rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  .contenedor-menu-lateral {
    display: none;
  }

  .enlace-side-bar {
    display: flex;
    align-items: center;
  }

  .burger-button {
    display: block;
    position: fixed;
    top: 5.9rem;
    left: 0.5rem;
    z-index: 10000;
    width: 16.0625rem;
  }

  .productos-button-contanier:hover button {
    height: 33px !important;
    display: flex;
    align-items: center;
  }

  .flex-layout {
    margin-left: 0px;
  }
  .flex-layout-content {
    font-size: 1.5rem;
  }
  .contenedor-select-filtro {
    flex-direction: column;
  }

  .partes-teclado {
    padding-left: 0.5rem !important;
  }
}
