/* #c4b5db */

.contenedor-info {
  background-color: #c7bdd5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-info h1 {
  font-size: 2rem;
}

.contenedor-info h2 {
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: underline;
  text-align: justify;
  margin-top: 2.5rem;
}

.contenedor-info h3 {
  font-size: 1.3rem;
  font-weight: normal;
  text-align: justify;
  padding-left: 3em;
  padding-right: 3em;
  margin-inline: 0px;
  margin-block: 0px;
}
