<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de productos</title>
    <link href="Css/keymaxter_form_products.css" rel="stylesheet" />
  </head>
  <body>
    <div id="headerPrincipal">
      <a href="/Templates/keymaxter_main.html">
        <img
          id="imagenHeader"
          src="/Images/bannerKeymaxter.png"
          alt="Banner de KeyMaxter"
        />
      </a>
    </div>
    <main>
      <h1>Gestión de productos</h1>
      <form>
        <div class="contenedor-select">
          <label for="tipo-accion">¿Qué deseas?:</label>
          <select id="tipo-accion">
            <option value="0" selected>Añadir</option>
            <option value="1">Modificar</option>
          </select>
          <label for="tipo-producto">Tipo de producto:</label>
          <select id="tipo-producto">
            <option value="0" selected>Teclado</option>
            <option value="1">Switch</option>
          </select>
        </div>
        <div class="contenedor-campo">
          <label for="modelo">Modelo:</label>
          <input id="modelo" placeholder="SGX43" class="input-text" />
        </div>
        <div class="contenedor-imagenes">
          <div id="image-location">
            <label for="image">
              <img
                id="newImage"
                src="/Images/add_photo.png"
                alt="Inserte imagen aquí"
              />
            </label>
            <input type="file" id="image" />
          </div>
          <div class="contenedor-radio">
            <input type="radio" id="radio1" name="imagenes" checked />
            <input type="radio" id="radio2" name="imagenes" />
          </div>
        </div>
        <div class="contenedor-campo">
          <label for="precio">Precio:</label>
          <input id="precio" placeholder="$" class="input-text" />
        </div>
        <div class="contenedor-campo">
          <label for="enlace">Enlace:</label>
          <input id="enlace" placeholder="www.google.com" class="input-text" />
        </div>
        <div class="contenedor-button">
          <button type="submit" id="button">
            <p>Añadir</p>
          </button>
        </div>
      </form>
    </main>
    <script src="Js/keymaxter_form_products.js"></script>
  </body>
</html>
