<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de productos</title>
    <link href="Css/keymaxter_form_products.css" rel="stylesheet" />
  </head>
  <body>
    <div id="headerPrincipal">
      <a href="/public/Templates/keymaxter_main.html">
        <img
          id="imagenHeader"
          src="/public/Images/bannerKeymaxter.png"
          alt="Banner de KeyMaxter"
        />
      </a>
    </div>
    <main>
      <h1>Gestión de productos</h1>
      <form>
        <div class="contenedor-select">
          <label for="tipo-accion">¿Qué deseas?:</label>
          <select id="tipo-accion">
            <option value="0" selected>Añadir</option>
            <option value="1">Modificar</option>
          </select>
          <label for="tipo-producto">Tipo de producto:</label>
          <select id="tipo-producto">
            <option value="0" selected>Teclado</option>
            <option value="1">Switch</option>
          </select>
        </div>
        <div class="contenedor-campo">
          <label for="modelo">Modelo:</label>
          <input
            id="modelo"
            placeholder="SGX43"
            name="modelo"
            class="input-text"
          />
        </div>
        <div class="contenedor-imagen">
          <div class="add-imagen">
            <label for="image">
              <img
                id="newImage"
                src="/public/Images/add_photo.png"
                alt="Inserte imagen aquí"
              />
            </label>
            <input type="file" id="image" name="image" />
          </div>
          <div class="contenedor-radio">
            <input type="radio" id="image1" name="image1" />
            <input type="radio" id="image2" name="image2" />
          </div>
        </div>
        <div class="contenedor-campo">
          <label for="modelo">Precio:</label>
          <input id="modelo" placeholder="$" name="modelo" class="input-text" />
        </div>
        <div class="contenedor-campo">
          <label for="enlace">Enlace:</label>
          <input
            id="enlace"
            placeholder="www.google.com"
            name="enlace"
            class="input-text"
          />
        </div>
        <div class="contenedor-button">
          <button>
            <p id="buttonText">Añadir</p>
          </button>
        </div>
      </form>
    </main>
    <script src="Js/keymaxter_form_products.js"></script>
  </body>
</html>
