<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Key Maxter</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div id="header-principal">
        <img
          id="imagenHeader"
          src="/Images/prueba.png"
          alt="Logo principal de
      KeyMaxter"
        />
      </div>
    </header>
    <div class="contenedor-general">
      <div class="contenedor-menu-horizontal" id="imagenSticky">
        <nav>
          <ul class="menu-horizontal">
            <li>
              <a>
                <img
                  src="/Images/account_settings.ico"
                  alt="Icono de ajustes del usuario"
                />
              </a>
            </li>
            <li>
              <a>
                <img
                  src="/Images/account_settings.ico"
                  alt="Icono de ajustes del usuario"
                />
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <div class="contenedor-menu-lateral">
          <aside class="menu-lateral">
            <img
              class="imagen-side-bar"
              src="/Images/desktop_bar_side_keyboard.ico"
              alt="Logo secundario de KeyMaxter"
            />
            <hr />
            <nav>
              <ul>
                <li>
                  <a
                    class="enlace-side-bar"
                    href="https://www.google.com/?hl=es"
                  >
                    <div class="contenedor-enlace">
                      <img
                        class="iconos-side-bar"
                        src="/Images/home_bar_side_keyboard.ico"
                        alt="Icono de galería"
                      />
                      <p>Teclados custom</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    class="enlace-side-bar"
                    href="https://www.google.com/?hl=es"
                  >
                    <div class="contenedor-enlace">
                      <img
                        class="iconos-side-bar"
                        src="/Images/home_bar_side_keyboard.ico"
                        alt="Icono de galería"
                      />
                      <p>Productos</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    class="enlace-side-bar"
                    href="https://www.google.com/?hl=es"
                  >
                    <div class="contenedor-enlace">
                      <img
                        class="iconos-side-bar"
                        src="/Images/home_bar_side_keyboard.ico"
                        alt="Icono de galería"
                      />
                      <p>Diséñalo tú mismo</p>
                    </div>
                  </a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
      <main class="flex-layout">
        <search class="grid-search">
          <form action="aplicar a la vista">
            <fieldset>
              <p>Filtros:</p>
              <span>
                <label
                  >Precio ascendente<input
                    type="radio"
                    name="ordenar_precio"
                    value="radio1"
                /></label>
                <label
                  >Precio descendente<input
                    type="radio"
                    name="ordenar_precio"
                    value="radio2"
                /></label>
                Marca:
                <select id="marca">
                  <option value="marca1">Marca 1</option>
                  <option value="marca2">Marca 2</option>
                  <option value="marca3">Marca 3</option>
                </select>
              </span>
            </fieldset>
          </form>
        </search>
        <article class="flex-layout-content">
          <div class="grid-box">
            <img
              class="imagen-teclado"
              src="/Images/teclado.avif"
              alt="Icono de rss"
            />

            <p class="modelo-teclado">Mars Gaming</p>
            <p class="enlace-teclado">Enlace</p>
            <p class="precio-teclado">Puntuación</p>
            <p class="me-gusta-teclado">Puntuación</p>
          </div>
          <div class="grid-box">
            <img
              class="imagen-teclado"
              src="/Images/teclado.avif"
              alt="Icono de rss"
            />

            <p class="modelo-teclado">Mars Gaming</p>
            <a class="enlace-teclado">Enlace</a>
            <p class="precio-teclado">Puntuación</p>
            <p class="me-gusta-teclado">Puntuación</p>
          </div>
          <div class="grid-box">
            <img
              class="imagen-teclado"
              src="/Images/teclado.avif"
              alt="Icono de rss"
            />

            <p class="modelo-teclado">Mars Gaming</p>
            <a class="enlace-teclado">Enlace</a>
            <p class="precio-teclado">Puntuación</p>
            <p class="me-gusta-teclado">Puntuación</p>
          </div>
          <div class="grid-box">
            <img
              class="imagen-teclado"
              src="/Images/teclado.avif"
              alt="Icono de rss"
            />

            <p class="modelo-teclado">Mars Gaming</p>
            <a class="enlace-teclado">Enlace</a>
            <p class="precio-teclado">Puntuación</p>
            <p class="me-gusta-teclado">Puntuación</p>
          </div>
          <div class="grid-box">
            <img
              class="imagen-teclado"
              src="/Images/teclado.avif"
              alt="Icono de rss"
            />

            <p class="modelo-teclado">Mars Gaming</p>
            <a class="enlace-teclado">Enlace</a>
            <p class="precio-teclado">Puntuación</p>
            <p class="me-gusta-teclado">Puntuación</p>
          </div>
          <div class="grid-box">
            <img
              class="imagen-teclado"
              src="/Images/teclado.avif"
              alt="Icono de rss"
            />

            <p class="modelo-teclado">Mars Gaming</p>
            <a class="enlace-teclado">Enlace</a>
            <p class="precio-teclado">Puntuación</p>
            <p class="me-gusta-teclado">Puntuación</p>
          </div>
          <div class="grid-box">
            <img
              class="imagen-teclado"
              src="/Images/teclado.avif"
              alt="Icono de rss"
            />

            <p class="modelo-teclado">Mars Gaming</p>
            <p class="enlace-teclado">Enlace</p>
            <p class="precio-teclado">Puntuación</p>
            <p class="me-gusta-teclado">Puntuación</p>
          </div>
          <div class="grid-box">
            <img
              class="imagen-teclado"
              src="/Images/teclado.avif"
              alt="Icono de rss"
            />

            <p class="modelo-teclado">Mars Gaming</p>
            <a class="enlace-teclado">Enlace</a>
            <p class="precio-teclado">Puntuación</p>
            <p class="me-gusta-teclado">Puntuación</p>
          </div>
        </article>
      </main>
    </div>
    <footer id="hola">
      <a href="https://www.google.com/?hl=es"
        ><img src="/Images/instagram.ico" alt="Icono de rss" />Redes sociales</a
      >
      <hr />
      <a href="https://www.google.com/?hl=es"
        ><img
          src="/Images/sugerencias.ico"
          alt="Icono de sugerencias"
        />Sugerencias</a
      >
    </footer>
    <script src="main.js"></script>
  </body>
</html>
