<img
  src="/Images/desktop_bar_side_keyboard.ico"
  alt="Logo secundario de KeyMaxter"
/>
<hr />
<nav>
  <a href="https://www.google.com/?hl=es"
    ><img src="/Images/home_bar_side_keyboard.ico" alt="Icono de home" />Home</a
  >

  <a href="https://www.google.com/?hl=es"
    ><img src="/Images/info_bar_side_keyboard.ico" alt="Icono de info" />Info</a
  >

  <a href="https://www.google.com/?hl=es"
    ><img
      src="/Images/gallery_bar_side_keyboard.ico"
      alt="Icono de galería"
    />Galería</a
  >
</nav>
