<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <img
        src="/Images/side_bar_image.jpg"
        alt="Logo secundario de KeyMaxter"
      />
      <hr />
    </header>
    <main>
      <nav>
        <img src="/Images/side_bar_home.ico" alt="Icono de home" />
        <a>Home</a>
        <img src="/Images/side_bar_info.ico" alt="Icono de info" />
        <a>Info</a>
        <img src="/Images/side_bar_gallery.jpg" alt="Icono de galería" />
        <a>Galería</a>
      </nav>
    </main>
  </body>
</html>
