#imagen-principal {
  height: 15vh;
  width: 80vw;
}
#header-principal {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

#contenedor-general {
  display: flex;
  margin-top: 8px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  border-radius: 20px;
  margin-right: 4px;
}

#imagen-side-bar {
  width: 100px;
  height: auto;
  margin: 10px;
}

aside a {
  display: flex;
}

article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: blueviolet;
}
.contenedor-teclado {
  display: flex;
  align-items: center;
  margin: 1px;
  flex-wrap: wrap;
  background-color: yellow;
}
#imagen-teclado {
  height: 250px;
  width: 350px;
  margin: 12px;
}
