@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 32px;
  font-family: "Nova Square", sans-serif;
}

#imagenHeader {
  height: 7rem;
  width: 65rem;
  max-width: 100%;
}

#header-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contenedor-general {
  position: relative;
  display: flex;
  margin-top: 8px;
}

.contenedor-menu-horizontal {
  position: absolute !;
  right: 20px;
  z-index: 1000;
}

.contenedor-menu-horizontal nav .menu-horizontal {
  display: flex;
  list-style: none;
  padding: 0;
  margin: auto;
}

.contenedor-menu-horizontal nav .menu-horizontal li {
  height: 70px;
  width: 70px;
  margin-right: 20px;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}
.contenedor-menu-horizontal nav .menu-horizontal li a {
  display: flex;
  width: 100%;
  height: 100%;
}
.contenedor-menu-horizontal nav .menu-horizontal li a img {
  height: 75%;
  width: 75%;
  object-fit: cover;
  margin: auto;
}

.contenedor-menu-lateral {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.contenedor-menu-lateral .menu-lateral {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  width: 425px;
  height: 100%;
  background-color: aqua;
  border-radius: 20px;
}

.contenedor-menu-lateral .menu-lateral hr {
  margin-inline: 0;
  margin-block: 0;
  margin: 40px;
  unicode-bidi: normal;
  border: none;
  height: 16px;
  background-image: linear-gradient(
    45deg,
    hsla(0, 0%, 5%, 0),
    hsla(0, 0%, 5%, 0) 33.33%,
    hsla(0, 0%, 5%, 1) 33.33%,
    hsla(0, 0%, 5%, 1) 66.67%,
    hsla(0, 0%, 5%, 0) 66.67%,
    hsla(0, 0%, 5%, 0) 100%
  );
  background-size: 16px 100%;
  width: 80%;
}

.contenedor-menu-lateral .menu-lateral nav {
  display: flex;
  width: 65%;
  justify-content: center;
}

.contenedor-menu-lateral .menu-lateral nav ul {
  list-style: none;
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
  padding: 0;
  padding-inline: 0;
}
.contenedor-menu-lateral .menu-lateral nav ul li {
  list-style: none;
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
}
.contenedor-menu-lateral .menu-lateral .contenedor-enlace {
  display: flex;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}

.contenedor-menu-lateral .menu-lateral .contenedor-enlace:hover {
  transform: scale(1.2);
  border: 1px solid #000;
  border-radius: 15%;
  box-shadow: 5px 8px 10px black;
}

.enlace-side-bar {
  box-sizing: border-box;
  text-decoration: none;
  width: 85%;
}

.enlace-side-bar p {
  margin-right: 0.2rem;
}

.imagen-side-bar {
  margin: 10px;
  width: 8.2rem;
  height: auto;
  object-fit: cover;
}
.iconos-side-bar {
  margin: 10px;
  margin-right: 1rem;
  width: 2.8rem;
  height: auto;
  object-fit: cover;
}

/* Productos */
.flex-layout {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  margin-left: 8px;
  background-color: antiquewhite;
}

.grid-search fieldset {
  display: flex;
  width: 80%;
  margin-block: 0;
}
.grid-search fieldset p {
  margin-block: 0;
}

.grid-search span {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  transform: translate(-50%, -50%);
}

.grid-search span label {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.grid-search span label input {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  appearance: none;
  border-radius: 50%;
  width: 2.5vw;
  height: 2.5vw;
  box-shadow: 0px 0px 5px #aac5c6;
  border: 0.2vw solid rgba(2, 228, 231, 0.8);
  background-color: #344056;
  transition: 0.2s all linear;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.grid-search span label input:checked {
  border: 0.7vw solid #344056;
  background-color: rgba(2, 228, 231, 0.8);
}

.flex-layout-content {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

.grid-box {
  flex: 33%;
  display: grid;
  grid-template-areas:
    "imagen-teclado imagen-teclado"
    "modelo-teclado enlace-teclado"
    "precio-teclado me-gusta-teclado";
  border: 2px solid black;
  grid-template-rows: 65% 17.5% 17.5%;
  width: 100%;
}

.grid-box .imagen-teclado {
  grid-area: imagen-teclado;
  height: 100%;
  width: 100%;
  padding: 10px;
  object-fit: cover;
}
.grid-box p {
  margin-block: 0;
  padding: 10px;
}

.grid-box .modelo-teclado {
  grid-area: modelo-teclado;
}
.grid-box .enlace-teclado {
  grid-area: enlace-teclado;
}
.grid-box .precio-teclado {
  grid-area: precio-teclado;
}
.grid-box .me-gusta--teclado {
  grid-area: me-gusta-teclado;
}

#hola {
  position: relative;
  z-index: 50;
}
