html {
  font-size: 32px;
}

#imagenHeader {
  height: 7rem;
  width: 65rem;
  max-width: 100%;
}

#header-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contenedor-general {
  position: relative;
  display: flex;
  margin-top: 8px;
}

#content {
  margin-left: 8px;
}

.contenedor-menu-horizontal {
  position: absolute !;
  right: 20px;
  z-index: 1000;
}

.contenedor-menu-horizontal nav .menu-horizontal {
  display: flex;
  list-style: none;
  padding: 0;
  margin: auto;
}

.contenedor-menu-horizontal nav .menu-horizontal li {
  height: 70px;
  width: 70px;
  margin-right: 20px;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}
.contenedor-menu-horizontal nav .menu-horizontal li a {
  display: flex;
  width: 100%;
  height: 100%;
}
.contenedor-menu-horizontal nav .menu-horizontal li a img {
  height: 75%;
  width: 75%;
  object-fit: cover;
  margin: auto;
}

.contenedor-menu-lateral {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.contenedor-menu-lateral .menu-lateral {
  display: grid;
  place-items: center;
  justify-items: center; /* Alinea los elementos horizontalmente al centro */
  align-items: center;
  width: 425px;
  height: 100%;
  background-color: aqua;
  border-radius: 20px;
}

.contenedor-menu-lateral .menu-lateral hr {
  margin-inline: 0;
  margin-block: 0;
  margin: 20px;
  unicode-bidi: normal;
  border: none;
  height: 15px;
  background-image: linear-gradient(
    45deg,
    hsla(0, 0%, 5%, 0),
    hsla(0, 0%, 5%, 0) 33.33%,
    hsla(0, 0%, 5%, 1) 33.33%,
    hsla(0, 0%, 5%, 1) 66.67%,
    hsla(0, 0%, 5%, 0) 66.67%,
    hsla(0, 0%, 5%, 0) 100%
  );
  background-size: 15px 100%;
  width: 80%;
}

.contenedor-menu-lateral .menu-lateral nav {
  display: flex;
  width: 65%;
}

.contenedor-menu-lateral .menu-lateral nav ul {
  list-style: none;
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
  padding: 0;
  padding-inline: 0;
}
.contenedor-menu-lateral .menu-lateral nav li {
  list-style: none;
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
}
.contenedor-menu-lateral .menu-lateral .contenedor-enlace {
  display: flex;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}

.contenedor-menu-lateral .menu-lateral .contenedor-enlace:hover {
  transform: scale(1.2);
  border: 1px solid #000;
  border-radius: 15%;
  box-shadow: 5px 8px 10px black;
}

.enlace-side-bar {
  text-decoration: none;
  width: 80%;
}

.imagen-side-bar {
  margin: 10px;
  width: 8.2rem;
  height: auto;
  object-fit: cover;
}
.iconos-side-bar {
  margin: 10px;
  margin-right: 1rem;
  width: 2.8rem;
  height: auto;
  object-fit: cover;
}
fieldset {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}

article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: blueviolet;
}
.contenedor-teclado {
  display: flex;
  align-items: center;
  margin: 1px;
  flex-wrap: wrap;
  background-color: yellow;
}
#imagen-teclado {
  height: 250px;
  width: 350px;
  margin: 12px;
}

#hola {
  position: relative;
  z-index: 50;
}
